*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.signupHolder{
    width: 100%;
    height: 100vh;
    display: flex;
    background-image: url("./hour.jpg");
    background-size: cover;
    justify-content: center;
}

.signWrapper{
    width: 80%;
    height: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    

}
.top{
     width: 100%;
     height: 8%;
}

.down{
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
    backdrop-filter: blur(5px);
    flex-direction: column;
}
form{
    width: 90%;
    height: 90%;
}
.card{
    width: 80%;
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.fields{
    width: 100%;
    height: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.input{
    width: 40%;
    height: 18%;
    display: flex;
    flex-direction: column;
    gap: 7px;
    color: blue;
}

.input input{
    width: 100%;
    height: 55px;
    outline: none;
    cursor: pointer;
}

.button{
    width: 40%;
    height: 18%;
    display: flex;
    justify-content: center;
    align-items: center;

}
.button button{
    width: 40%;
    height: 45px;
    background-color: blue;
    border-radius: 8px;
    border: none;
    color: white;
    font-size: 15px;
    font-weight: 700;
}

.footing{
    width: 100%;
    height: 5%;
    color: white;
    display: flex;
    justify-content: center;
    margin-right: 20%;
}


